{% extends "miscelanea/base_miscelanea.html" %}

{% load staticfiles %}

{% block title %}
 Eliminar Archivo
{% endblock %}

{% block content %}

    {% include "include/menu.html" %}

    <h1 class="page-title">Eliminar<span class="fw-semi-bold"> Archivo</span></h1>
    <div class="col-md-6">
      <section class="callout">
        <div class="callout">
            <form role="form" action="{% url 'miscelanea_app:medios-delete' medios.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">
                    <div class="row center">
                        <div class="large-4 columns">
                            <div>
                                ¿Esta seguro de Eliminar: <span>{{medios.name}}</span>?.
                            </div>
                            <button type="submit" class="alert button">Eliminar</button>
                            <a href="{% url 'miscelanea_app:medios-list' %}" class="btn btn-inverse">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
      </section>
    </div>

{% endblock %}
