<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <div class="principal-header" style="background:#424242;">
            <ul class="principal-header__ul">
                <li class="principal-header__ul__li">
                    <a href="#" class="principal-header__ul__li__a">Opcion uno</a>
                </li>
                <li class="principal-header__ul__li">
                    <a href="#" class="principal-header__ul__li__a">Opcion uno</a>
                </li>
                <li class="principal-header__ul__li">
                    <a href="#" class="principal-header__ul__li__a">Opcion uno</a>
                </li>
                <li class="principal-header__ul__li">
                    <a href="#" class="principal-header__ul__li__a">Opcion uno</a>
                </li>
                <li class="principal-header__ul__li">
                    <a href="#" class="principal-header__ul__li__a">Opcion uno</a>
                </li>
                <li class="principal-header__ul__li">
                    <a href="#" class="principal-header__ul__li__a">Opcion uno</a>
                </li>
                <li class="principal-header__ul__li">
                    <a href="#" class="principal-header__ul__li__a">Opcion uno</a>
                </li>
            </ul>
            <div class="principal-header__search">
                <input type="text" class="principal-header__search__input" placeholder="Buscar...">
                <button class="principal-header__search__btn">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <div class="mov-header">
            <div class="mov-header__head">
                <i id="menu-icon" class="fas fa-bars mov-header__head__icon"></i>
                <a href="#" class="mov-header__head__link">Apendice</a>
            </div>
            <div id="mov-header__menu" class="mov-header__menu">
                <ul class="mov-header__menu__ul">
                    <li class="mov-header__menu__ul__li">
                        <a class="mov-header__menu__ul__li__a">
                            primera opcion
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div>
        contendo de la paginacontendo de la paginacontendo de la paginacontendo de la paginacontendo de la pagina
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script src="/js/fontawesome-all.min.js"></script>
    <script src="/js/scrips.js"></script>
</body>

</html>