$cssCore: false;
$cssHelpers: true;
$devMode: false;

// ed-grid import
@import 'ed-grid';

// local import
@import 'config-styles';

// import components
@import 'components/header/mov_header';

// local modules import
@import 'module/header';
@import 'module/footer';
@import 'module/social';
@import 'module/cards';
@import 'module/divider';
@import 'module/article';
