{% extends "home/base_home.html" %}

{% load thumbnail %}

{% load l10n %}

{% block title %}
  Noticias del Perú y el mundo |
  {{ portada.title }} |
  {% for destacado in destacados %}
    {{ destacado.title }} |
  {% endfor %}
    apendice | apendicepe
{% endblock %}

{% block description %}
  Noticias del Perú y el mundo, ultimas noticas de politica, investigacion, actualidad, gobierno, peru, en apendice.pe.
{% endblock %}

{% block content %}
  {% include "include/header.html" %}
  <main class="main">
    <div class="news-columns">
      <div class="news-column">
        <article class="news news--home">
          <div class="news__image">
            <img src="{{ portada.image.url }}" alt="{{ portada.title }}" />
            {% if portada.category|slugify == 'investigacion' %}
            <span class="news__category--investigation">{{ portada.category }}</span>
            {% elif  portada.category|slugify == 'politica' %}
            <span class="news__category--politics">{{ portada.category }}</span>
            {% elif  portada.category|slugify == 'miscelanea' %}
            <span class="news__category--miscelanea">{{ portada.category }}</span>
            {% else %}
            <span class="news__category--topicality">{{ portada.category }}</span>
            {% endif %}
          </div>


          <div class="news__body">
            <div class="news__date">Hace {{ portada.date|timesince }}</div>
            <h1 class="news__title--home">
              <a href="{% url 'articulo_app:article-detail' portada.category|slugify portada.slug %}">
                {{ portada.title }}
              </a>
            </h1>
            <p class="news__description">{{ portada.description }}</p>
            <a href="{% url 'articulo_app:article-detail' portada.category|slugify portada.slug %}" class="news__link">Ver más...</a>
          </div>
        </article>

      </div>

      <div class="news-column">

        {% for destacado in destacados %}
          <article class="news news--outstanding">
            <div class="news__image">
              <img src="{{ destacado.image.url }}" alt="{{ destacado.title }}" />
              {% if destacado.category|slugify == 'investigacion' %}
              <div class="news__category--investigation">{{ destacado.category }}</div>
              {% elif  destacado.category|slugify == 'politica' %}
              <div class="news__category--politics">{{ destacado.category }}</div>
              {% elif  destacado.category|slugify == 'miscelanea' %}
              <div class="news__category--miscelanea">{{ destacado.category }}</div>
              {% else %}
              <div class="news__category--topicality">{{ destacado.category }}</div>
              {% endif %}
            </div>


            <div class="news__body">
              <div class="news__date">Hace {{ destacado.created|timesince }}</div>
              <h2 class="news__title--outstanding">
                <a href="{% url 'articulo_app:article-detail' destacado.category|slugify destacado.slug %}">
                  {{ destacado.title }}
                </a>
              </h2>
              <p class="news__description--outstanding">{{ destacado.description|truncatechars_html:130  }}</p>
              <a href="{% url 'articulo_app:article-detail' destacado.category|slugify destacado.slug %}" class="news__link">Ver más...</a>
            </div>
          </article>
        {% endfor %}

      </div>
    </div> <!-- fin de noticias principales -->

    <div class="ed-container">
      <div class="ed-item s-100">
        <div class="divider--top"></div>
      </div>
      <div class="ed-item">
        <h3 class="title-more-news">
          Más noticias
        </h3>
      </div>
    </div>

    <div class="ed-container">

      {% for news in standar %}

        <article class="ed-item s-100 m-1-3 l-25 news news--standar">
          <div class="news__image">
            <img src="{{ news.image.url }}" alt="{{ news.title }}" />
            {% if news.category|slugify == 'investigacion' %}
            <div class="news__category--investigation">{{ news.category }}</div>
            {% elif  news.category|slugify == 'politica' %}
            <div class="news__category--politics">{{ news.category }}</div>
            {% elif  news.category|slugify == 'miscelanea' %}
            <div class="news__category--miscelanea">{{ news.category }}</div>
            {% else %}
            <div class="news__category--topicality">{{ news.category }}</div>
            {% endif %}
          </div>

          <div class="news__body">
            <div class="news__date">Hace {{ news.created|timesince }}</div>
            <h2 class="news__title--outstanding">
              <a href="{% url 'articulo_app:article-detail' news.category|slugify news.slug %}">
                {{ news.title }}
              </a>
            </h2>
            <p class="news__description--outstanding">{{ news.description|truncatechars_html:90 }}</p>
            <a href="{% url 'articulo_app:article-detail' news.category|slugify news.slug %}" class="news__link">Ver más...</a>
          </div>
        </article>

      {% endfor %}

    </div> <!-- fin de noticas standar -->

  </main>
  {% include "include/footer.html" %}

{% endblock %}
