{% extends "home/base_home.html" %}

{% load thumbnail %}

{% load l10n %}

{% block title %}
  Noticias del Perú y el mundo | apendicepe | apendice.pe
{% endblock %}

{% block description %}
  Noticias del Perú y el mundo, ultimas noticas de politica, investigacion, actualidad, gobierno, peru, en apendice.pe.
{% endblock %}

{% block content %}
  {% include "include/header.html" %}
  <main class="main">
    <div class="news-columns">

      <div class="news-column">
        {% if portada != None %}
        <article class="news news--home">
          <div class="news__image">
            <img src="{{ portada.image.url }}" alt="{{ portada.title }}" />
            {% if portada.category|slugify == 'lima' %}
            <span class="news__category--investigation">{{ portada.category }}</span>
            {% elif  portada.category|slugify == 'politica' %}
            <span class="news__category--politics">{{ portada.category }}</span>
            {% elif  portada.category|slugify == 'miscelanea' %}
            <span class="news__category--miscelanea">{{ portada.category }}</span>
            {% else %}
            <span class="news__category--topicality" style="background:#039be5;">{{ portada.category }}</span>
            {% endif %}
          </div>

          <div class="news__body">

            {% if article.date != '' %}
              <div class="news__date">Hace {{ portada.date|timesince }}</div>
            {% else %}
              <div class="news__date">Hace {{ portada.created|timesince }}</div>
            {% endif %}

            <h1 class="news__title--home">
              <a href="{% url 'articulo_app:article-detail' portada.category|slugify portada.slug %}">
                {{ portada.title }}
              </a>
            </h1>
            <p class="news__description">{{ portada.bajada|truncatechars_html:90 }}</p>
            <a href="{% url 'articulo_app:article-detail' portada.category|slugify portada.slug %}" class="news__link">Ver más...</a>
          </div>

        </article>
        {% else %}
          <h1 class="article__title">Aun no Se ha Registrado Articulos en esta Categoria</h1>
        {% endif %}
      </div>

      <div class="news-column">

        {% for destacado in destacados %}
          <article class="news news--outstanding">
            <div class="news__image">
              <img src="{{ destacado.image.url }}" alt="{{ destacado.title }}" />
              {% if destacado.category|slugify == 'lima' %}
              <div class="news__category--investigation">{{ destacado.category }}</div>
              {% elif  destacado.category|slugify == 'politica' %}
              <div class="news__category--politics">{{ destacado.category }}</div>
              {% elif  destacado.category|slugify == 'miscelanea' %}
              <span class="news__category--miscelanea">{{ destacado.category }}</span>
              {% else %}
              <div class="news__category--topicality" style="background:#039be5;">{{ destacado.category }}</div>
              {% endif %}
            </div>


            <div class="news__body">
              {% if article.date != '' %}
                <div class="news__date">Hace {{ destacado.date|timesince }}</div>
              {% else %}
                <div class="news__date">Hace {{ destacado.created|timesince }}</div>
              {% endif %}

              <h2 class="news__title--outstanding">
                <a href="{% url 'articulo_app:article-detail' destacado.category|slugify destacado.slug %}">
                  {{ destacado.title }}
                </a>
              </h2>
              <p class="news__description--outstanding">{{ destacado.bajada|truncatechars_html:90 }}</p>
              <a href="{% url 'articulo_app:article-detail' destacado.category|slugify destacado.slug %}" class="news__link">Ver más...</a>
            </div>
          </article>
        {% endfor %}

      </div>
    </div> <!-- fin de noticias principales -->


  {% if count >= 5 %}
    <div class="ed-container">
      <div class="ed-item s-100">
        <div class="divider--top"></div>
      </div>
      <div class="ed-item">
        <h3 class="title-more-news">
          Más noticias
        </h3>
      </div>
    </div>

    <div class="ed-container">

    {% for news in standar %}

      <article class="ed-item s-100 m-1-3 l-25 news news--standar">
        <div class="news__image">
          <img src="{{ news.image.url }}" alt="{{ news.title }}" />
          {% if news.category|slugify == 'lima' %}
          <div class="news__category--investigation">{{ news.category }}</div>
          {% elif  news.category|slugify == 'politica' %}
          <div class="news__category--politics">{{ news.category }}</div>
          {% elif  news.category|slugify == 'miscelanea' %}
          <span class="news__category--news">{{ news.category }}</span>
          {% else %}
          <div class="news__category--topicality" style="background:#039be5;">{{ news.category }}</div>
          {% endif %}
        </div>

        <div class="news__body">
          {% if article.date != '' %}
            <div class="news__date">Hace {{ news.date|timesince }}</div>
          {% else %}
            <div class="news__date">Hace {{ news.created|timesince }}</div>
          {% endif %}

          <h2 class="news__title--outstanding">
            <a href="{% url 'articulo_app:article-detail' news.category|slugify news.slug %}">
              {{ news.title }}
            </a>
          </h2>
          <p class="news__description--outstanding">{{ news.bajada|truncatechars_html:90 }}</p>
          <a href="{% url 'articulo_app:article-detail' news.category|slugify news.slug %}" class="news__link">Ver más...</a>
        </div>
      </article>

    {% endfor %}

  </div>
  {% endif %}

  {% if count < 6 %}
    <!-- Seccion auxiliar de Articulos -->
    <div class="ed-container">
      <div class="ed-item s-100">
        <div class="divider--top"></div>
      </div>
      <div class="ed-item">
        <h3 class="title-more-news">
          Más noticias
        </h3>
      </div>
    </div>

    <div class="ed-container">

      {% for news in articles %}

      <article class="ed-item s-100 m-1-3 l-25 news news--standar">
        <div class="news__image">
        <img src="{{ news.image.url }}" alt="{{ news.title }}" />
        {% if news.category|slugify == 'lima' %}
        <div class="news__category--investigation">{{ news.category }}</div>
        {% elif  news.category|slugify == 'politica' %}
        <div class="news__category--politics">{{ news.category }}</div>
        {% elif  news.category|slugify == 'miscelanea' %}
        <span class="news__category--news">{{ news.category }}</span>
        {% else %}
        <div class="news__category--topicality" style="background:#039be5;">{{ news.category }}</div>
        {% endif %}
      </div>

        <div class="news__body">
          {% if article.date != '' %}
            <div class="news__date">Hace {{ news.date|timesince }}</div>
          {% else %}
            <div class="news__date">Hace {{ news.created|timesince }}</div>
          {% endif %}

        <h2 class="news__title--outstanding">
          <a href="{% url 'articulo_app:article-detail' news.category|slugify news.slug %}">
            {{ news.title }}
          </a>
        </h2>
        <p class="news__description--outstanding">{{ news.bajada|truncatechars_html:90 }}</p>
        <a href="{% url 'articulo_app:article-detail' news.category|slugify news.slug %}" class="news__link">Ver más...</a>
      </div>
      </article>
      {% endfor %}
    </div>
    <!-- Fin de noticias Relacionadas-->
    {% endif %}

  </main>
  {% include "include/footer.html" %}

{% endblock %}
